html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    width:100%;
    height:100%;
}

canvas {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#gameArea {
    position: absolute;
    left: 50%;
    top: 50%;
}